@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,500&family=Playfair+Display:ital,wght@0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    margin-top: 52px;
    height: 2989px;
    width: 1440px;
    margin-left: 235px;
}

.head h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
}

.head p {
    margin-top: 12px;
    margin-left: 17px;
    width: 592px;
    height: 51px;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
}

.pig {
    margin-top: 30px;
    margin-bottom: 48px;
    width: 969px;
    height: 470px;
    background-image: url(https://c.tenor.com/x8v1oNUOmg4AAAAd/rickroll-roll.gif);
    background-position: center;
    border-radius: 10px;
}

* ul {
    list-style-type: none;
}

* input {
    border: 1px solid #828282;
    border-radius: 4px;
    width: 21px;
    height: 21px;
    margin: 17px 17px;
}

.ingredients li {
    display: flex;
}

.ingredients h1 {
    margin: 32px;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
}

.ingredients p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: 554px;
    margin: auto 0;
}

table h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: white;
}

td {
    text-align: left;
    padding: 15px;
}


.instructions p {
    width: 528px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.num1 {
    width: 36px;
    max-height: 36px;
    background: #F2994A;
    border-radius: 6px;
}

.num2 {
    width: 36px;
    max-height: 36px;
    background: #F2994A;
    border-radius: 6px;
    margin-bottom: 400%;
}

.num3 {
    width: 36px;
    height: 36px;
    background: #F2994A;
    border-radius: 6px;
    margin-bottom: 400%;
}

.num4 {
    width: 36px;
    height: 36px;
    background: #F2994A;
    border-radius: 6px;
    margin-bottom: 400%;
}

.num5 {
    width: 36px;
    height: 36px;
    background: #F2994A;
    border-radius: 6px;
    margin-bottom: 300%;
}

.num6 {
    width: 36px;
    height: 36px;
    background: #F2994A;
    border-radius: 6px;
    margin-bottom: 100%;
}

.num7 {
    width: 36px;
    height: 36px;
    background: #F2994A;
    border-radius: 6px;
}

.pic {
    position: absolute;
    left: 984px;
    top: 711px;
    width: 216px;
    height: 367px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.pic .pic1,
.pic2,
.pic3,
.pic4 {
    display: flex;
    margin-bottom: 30px;
}

.pic h1 span {
    margin: auto;
    font-size: 30px;
    color: #4F4F4F;
    margin-right: 10px;
}

.pic .pic1 h1 span {
    color: #F2994A;
}

.pic .t {
    margin: auto 0;
}

.pic h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #BDBDBD;
}

.pic p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #333333;
}

.pic .pic1 p {
    color: #F2994A;
}